<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button [text]="'Atras'" defaultHref="/list"></ion-back-button>
      </ion-buttons>
    <ion-title>wellcome </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isLoggedIn==false" (click)="login()">Log in</ion-button>
      <ion-button *ngIf="isLoggedIn" (click)="logout()">Log out</ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
<h1>wellcome {{user}}</h1>
</ion-content>
