<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/piedta.jpg"></ion-img>

      <ion-item>
        <ion-label color="{{colore}}">Correo</ion-label>
        <ion-input (keyup)="chekuser()" [(ngModel)]="textUsername" type="text"  disabled="{{disableInput}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="{{colore2}}">Contraseña</ion-label>
        <ion-input (keyup)="chekuser2()" [(ngModel)]="textPass" type="password" ></ion-input>
      </ion-item>
      <ion-button (click)="onClickboton()" expand="block">Login</ion-button>
      <p class="p"><a expand="block" (click)="onClickforgot()">{{textForgot}}</a></p>
      <p class="p"><a  (click)="registrarse()">Registrate aqui</a></p>

</ion-content>
