<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button [text]="'Atras'" defaultHref="/list"></ion-back-button>
      </ion-buttons>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="{{colore}}">Correo</ion-label>
    <ion-input (keyup)="chekuser()" [(ngModel)]="textUsername" type="text"  disabled="{{disableInput}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="{{colore2}}">Contraseña</ion-label>
    <ion-input (keyup)="chekuser2()" [(ngModel)]="textPass" type="password" ></ion-input>
    <ion-icon name="eye" *ngIf="mostrar" (click)="ocultar(false)" ></ion-icon>
    <ion-icon name="eye-off" *ngIf="mostar==false" (click)="ocultar(true)"></ion-icon>
  </ion-item>
  <ion-button (click)="onClickboton()" expand="block">Login</ion-button>

</ion-content>
